<div>
    <h2>Sub Categories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="sub-category.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Sub Category
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>Alcohol</span></th>
                    <th><span>Product</span></th>
                    <th><span>Category</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="subCategory in vm.subCategories track by subCategory.id">
                    <td><a ui-sref="sub-category-detail({id:subCategory.id})">{{subCategory.id}}</a></td>
                    <td>{{subCategory.name}}</td>
                    <td>{{subCategory.alcohol}}</td>
                    <td>
                        <a ui-sref="product-detail({id:subCategory.product.id})">{{subCategory.product.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="category-detail({id:subCategory.category.id})">{{subCategory.category.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="sub-category-detail({id:subCategory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sub-category.edit({id:subCategory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="sub-category.delete({id:subCategory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
