
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubCategoryLabel">Create or edit a Sub Category</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subCategory.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subCategory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.subCategory.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_alcohol">Alcohol</label>
            <input type="checkbox" class="form-control" name="alcohol" id="field_alcohol"
                    ng-model="vm.subCategory.alcohol"
                     />
        </div>

        <div class="form-group">
            <label for="field_product">Product</label>
            <select class="form-control" id="field_product" name="product" ng-model="vm.subCategory.product" ng-options="product as product.name for product in vm.products track by product.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_category">Category</label>
            <select class="form-control" id="field_category" name="category" ng-model="vm.subCategory.category" ng-options="category as category.name for category in vm.categories track by category.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
